[Unit]
Description=max9744 Daemon
After=multi-user.target


[Service]
ExecStartPre=/bin/mkdir -p /var/max9744
ExecStart=/usr/bin/max9744d -f /var/max9744
ExecStop=/bin/rm -r /var/max9744

[Install]
WantedBy=default.target
